canvas {
    width: 80vw;
    height: 80vh;
}

p {
  position: relative;
  margin-top: -1.5em;
  font: bold 2em Verdana;
  color: #2F4F4F;
  letter-spacing: 1px;
  text-align: center;
}

/* TODO deleteme */
.statusPanel{
  width:17vW;
  height:25vH;
  font-size:1.1em;
  margin:10px;
  padding:5px;
  border:1px solid grey;
}
